h1 {
 color: red; 
 text-decoration: line-through;
 font-size: 420px
 
}
h2	{
	color: green;
}
h3	{
	color: blue;
}
hr	{
color: blue
	
}

a{
   color: pink;
  text-decoration: overline;
   font-size: 69px
  
}
body {
    background-color: black;
}